<!DOCTYPE html>
<html lang="">
 
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Shipping Report</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css"/>
        <script>
          function changebuttonstatus(){
          document.getElementById('submitbtn').setAttribute('disabled',true);
          const form =document.getElementById('dateform');
          form.submit()
          }
          </script>
    </head>
    <body>
        <form id="dateform" method="POST">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" name="startdate" type="date" placeholder="Start Date`">

          </p>
          <p class="control is-expanded">
            <input class="input" name="enddate" type="date" placeholder="End Date">
            
          </p>
          <p class="control">
            <button id="submitbtn" class="button is-info" type="submit" formmethod="post" onclick=changebuttonstatus()>
              Run Report
            </button>
          </p>
        </div>
      </form>

    </body>
</html>